body {
     background-color: rgb(255, 255, 255);
     font-family: Young;
 }

 .icon {
   font-size: 2vw;
    margin: 1vw;
 }

 .icon-grid {
    grid: repeat(auto-fit, 1fr);
    text-align: center;
 }


 .window {
      /*transition: transform 0.3s, opacity 0.5s;*/
     border-radius: 50%;
     /*clip-path: circle(50% at 50% 50%);*/

     width: 20vw;
     height: 20vw;

     filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');

     background-color: rgb(230, 53, 127);

     position: fixed; 

     display: flex;
  justify-content: center;
  align-items: center;
}


 .text {
   color:rgb(255, 255, 255);
   text-align: justify;
   padding: 15%;
 
 }

 @font-face { font-family: Young; src: url('../fonts/Comfortaa-Regular.ttf'); } 

