body {
     background-color: rgb(255, 255, 255);
     font-family: Young;
   
     background: url('../img/paper.jpg') no-repeat center ;     
     background-size: cover;
     
 }



 .window {
      /*transition: transform 0.3s, opacity 0.5s;*/
     border-radius: 50%;
     /*clip-path: circle(50% at 50% 50%);*/

    /* border: 20px solid black;*/

     width: 17vw;
     height: 17vw;

     

     background-color: white;
    /* border: 2px solid black;*/

     position: fixed; 

    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: height 0.2s ,border-radius 0.2s, align-times 0.2s, background-color 0.2s, margin 0.2s, top 0.2s;
}

.hidden {
  display: none ;
}


.selected  {
  height: 50vh;
  border-radius: 0vh;
 /* align-items: left;*/
  display: inline;
  padding-top: 2%;
  background-color : black;

  top: -16vh;
}

.selected .hidden {
  border: 0px solid black;
  color:white;
  display: block;
}

.selected .title {
  color:white;

}

mark {
  color: black;
  background-color: white;
}


 .text {
   font-family:time;
   color:black;
   text-align:left;

   padding-left: 15%;
   padding-right: 15%;
 
 }



 .title {
  color:black;
  text-align: justify;

  padding-left: 15%;
  padding-right: 15%;
  font-size: 2rem;

}



 @font-face { font-family: Young; src: url('../fonts/Love.ttf'); } 
 
 @font-face { font-family: time; src: url('../fonts/moderne.otf'); } 

