body {
     background-color: #eb4b33;
     font-family: Love;

     background: url(../img/paper_min.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

 .window {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border-radius: 50%;
    width: 17vw;
    height: 17vw;
    background-color: white;
    position: fixed; 

    display: flex;
    text-align: center;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: height 0.2s ,border-radius 0.2s, align-times 0.2s, background-color 0.2s, margin 0.2s, top 0.2s, outline 0.05s;
}

@media  all and (orientation:portrait) {
  .window {
    width: 30vh;
    height : 30vh;
  }
  .selected {
    height: 50vh;
  }

  .text {
    font-size: 25px;
  }
}

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 5s;
}

.selected  {
  height: 70vh;
  border-radius: 0vh;
  display: inline;
  padding-top: 2%;
  background-color : black;
  top: -16vh;

  opacity: 1;
}

.selected .hidden {
  color:white;
  display: block;
  opacity: 1;
}

mark {
  color: black;
  background-color: white;
}

.text {
   font-family:Moderne;
   color:black;
   text-align:left;
   padding-left: 5%;
   padding-right: 5%;
   /*font-size: 2vw;*/
   font-size: 20px;
   
 
 }

 .title {
  color:black;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 30px;
}

.selected .title {
  color:white;
}

.link {
  color: white;
  border-bottom: white;
}
@font-face { font-family: Love; src: url('../fonts/Love.ttf'); } 
@font-face { font-family: Moderne; src: url('../fonts/moderne.otf'); } 

