
 body {
     background-color: rgb(17, 18, 20);
     background: url("img/background_small.jpg");
     background-repeat: repeat-x repeat-y;
     
     font-family: AkiraBold;
     /*text-shadow: 3px 3px 3px  rgb(15, 15, 15);*/
 }

 .icon {
    font-size: 3rem;
    margin: 8px;
 }

 .icon-grid {
    grid: repeat(auto-fit, 1fr);
    text-align: center;
 }

 .window {
     /*border: 2px solid;*/
     /*border-radius: 10px;*/
     background-color: rgba(255, 255, 255, 0.05);
     color: whitesmoke;
     /*box-shadow: 3px 3px 3px rgb(15, 15, 15), inset 3px 3px 3px rgb(15, 15, 15);*/
 }

.title {
 
    color: rgb(255, 255, 255);
    font-family: AkiraBold;
 
    padding: 16px;
    margin: 0px;
    text-shadow:2px 2px rgb(15, 15, 15);

    font-size: 1em;
  

    border-color: whitesmoke;
    border-bottom: 2px solid;
 }

 .text {
    color: whitesmoke;
    padding: 8px;
    margin: 0px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
 }

 @font-face { font-family: AkiraBold; src: url('fonts/Akira\ Bold.otf'); } 
 @font-face { font-family: AkiraOutline; src: url('fonts/Akira\ Outline.otf'); } 