
 body {
     background-color: rgb(255, 255, 255);
     font-family: AkiraBold;
 }

 .icon {
    font-size: 3rem;
    margin: 8px;
 }

 .icon-grid {
    grid: repeat(auto-fit, 1fr);
    text-align: center;
 }

 .window {
     border-radius: 50%;
     width: 25vh;
     height: 25vh;
    
     position: fixed;
 }



 .text {
    color: rgb(0, 0, 0);
    text-align: center;
   
    font-size: 0.6rem;
 }

 @font-face { font-family: AkiraBold; src: url('fonts/Young.ttf'); } 
